# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [1]:
!python -V

Python 3.9.12

# 1.3 Trabalhando com dados

In [2]:
#importa o pandas e limita o numero de linhas vistas para 10
import pandas as pd
pd.set_option('display.max_rows', 10)

In [3]:
#le o arquivo csv no meu github
dataset = pd.read_csv('https://raw.githubusercontent.com/xxGabrielNeryxx/ProjetosDataScience/main/Python_Pandas/Data/db.csv', sep=';')

In [4]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [5]:
#tipos de cada coluna do dataframe
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [6]:
#para selecionar mais de uma coluna: dataset[['coluna1','coluna2']]
#describe retorna estatisticas de das colunas
dataset[['Quilometragem','Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [7]:
#retorna informaçoes do dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [8]:
 ()

()

In [9]:
1,2,3

(1, 2, 3)

In [10]:
#tuplas e listas armazenam tipos variados 
nome = 'Passat'
valor = 153000
(nome, valor)

('Passat', 153000)

In [11]:
nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [12]:
type(nome_carros)

tuple

# 2.2 Seleções em tuplas

In [13]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [14]:
nomes_carros[0]

'Jetta Variant'

In [15]:
nomes_carros[1]

'Passat'

In [16]:
nomes_carros[-1]

'DS5'

In [17]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [18]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [19]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [20]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [21]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [22]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [23]:
#desempacotar uma tupla é atribuir cada valor a uma variavel especifica
#se eu nao atribuir todos os valores da tupla a uma variavel da erro
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [24]:
carro_1

'Jetta Variant'

In [25]:
carro_2

'Passat'

In [26]:
carro_3

'Crossfox'

In [27]:
carro_4

'DS5'

In [28]:
#usar underscore para ignorar valores
_,A,_,B = nomes_carros

In [29]:
A

'Passat'

In [30]:
B

'DS5'

In [31]:
#o *- ignora todos os elementos depois
_,C,*_ = nomes_carros

In [32]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [33]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [34]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [35]:
#pega o i-ezimo elemento de cada iterador e coloca em uma tupla
zip(carros, valores)

In [36]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [37]:
#MUITO UTIL
for carro, valor in list(zip(carros, valores)):
    print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [38]:
for carro, valor in list(zip(carros, valores)):
    if valor > 100000:
      print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [39]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [40]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [41]:
#Posso pesquisar a posiçao de um elemento em uma lista com index
carros.index('Passat')

1

In [42]:
#jeito mais complexo que um dicionario
valores[carros.index('Passat')]

106161.94

In [43]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [44]:
type(dados)

dict

### Criando dicionários com *zip()*

In [45]:
#posso criar dicionarios a partir de listas com zip
print(zip(carros, valores))
print(list(zip(carros, valores)))

<zip object at 0x7f2eca2a21c0>
[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [46]:
dict(zip(carros, valores))

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [47]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [48]:
'Passat' in dados

True

In [49]:
'Fusca' not in dados

True

In [50]:
'Fusca' in dados

False

## *len(dict)*

Retorna o número de itens do dicionário.

In [51]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [52]:
#DS5 nao esta no dicionario, logo e incluido
dados['DS5'] =  12345.6

In [53]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 12345.6}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [54]:
del dados['Passat']

In [55]:
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 12345.6}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [56]:
#adiciona um valor ao dicionario ou altera um valor
dados.update({'Passat':123456.1})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 12345.6,
 'Passat': 123456.1}

In [57]:
dados.update({'Passat':123456.1, 'Fusca':10})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 12345.6,
 'Passat': 123456.1,
 'Fusca': 10}

## *dict.copy()*

Cria uma cópia do dicionário.

In [58]:
#Se eu mudadr dadosCopy tambem mudo dados pois ambos apontam para o mesmo espaço
#na memoria
dadosCopy = dados.copy()

In [59]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 12345.6,
 'Passat': 123456.1,
 'Fusca': 10}

In [60]:
del dadosCopy['Fusca']
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 12345.6,
 'Passat': 123456.1}

In [61]:
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 12345.6,
 'Passat': 123456.1,
 'Fusca': 10}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [62]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 12345.6,
 'Passat': 123456.1}

In [63]:
dadosCopy.pop('Passat')

123456.1

In [64]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 12345.6}

In [65]:
#Caso nao encontre a chave a ser removida posso tratar o erro
#dadosCopy.pop('Passat') gera erro pois Passat foi removida

In [66]:
dadosCopy.pop('Passat', 'Chave nao encontrada')

'Chave nao encontrada'

In [67]:
dadosCopy.pop('DS5', 'Chave nao encontrada')

12345.6

In [68]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

In [69]:
dadosCopy.pop('DS5', 'Chave nao encontrada')

'Chave nao encontrada'

## *dict.clear()*

Remove todos os itens do dicionário.

In [70]:
dadosCopy.clear()

In [71]:
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [72]:
dados.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'Passat', 'Fusca'])

In [73]:
for key in dados.keys():
  print(dados[key])

88078.64
72832.16
12345.6
123456.1
10

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [74]:
dados.values()

dict_values([88078.64, 72832.16, 12345.6, 123456.1, 10])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [75]:
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.16), ('DS5', 12345.6), ('Passat', 123456.1), ('Fusca', 10)])

In [76]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 12345.6)
('Passat', 123456.1)
('Fusca', 10)

In [77]:
for key,item in dados.items():
  print(key, item)

Jetta Variant 88078.64
Crossfox 72832.16
DS5 12345.6
Passat 123456.1
Fusca 10

In [78]:
for key,item in dados.items():
  if item >100000:
    print(key)

Passat

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [79]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [80]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [81]:
soma = 0
for valor in dados.values():
  soma+=valor
soma

267072.74

In [82]:
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [83]:
sum(list(dados.values()),1000000)

1267072.7399999998

In [84]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [85]:
def media():
  valor = (1+2+3)/3
  print(valor)

In [86]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [87]:
def media(n1, n2, n3):
  valor = (n1+n2+n3)/3
  print(valor)

In [88]:
media(1,2,3)

2.0

In [89]:
media(12,23,35)

23.333333333333332

In [90]:
def media(lista):
  valor = sum(lista)/len(lista)
  print(valor)

In [91]:
resultado = media([2,3,4,5,6,7,8,9])

5.5

In [92]:
resultado

In [93]:
type(resultado)

NoneType

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [94]:
def media(lista):
  valor = sum(lista)/len(lista)
  return valor

In [95]:
resultado = media([4,5,6,7,8])

In [96]:
resultado

6.0

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [97]:
def media(lista):
  valor = sum(lista)/len(lista)
  return (valor, len(lista))

In [98]:
resultado, n = media([3,6,54,12,8])

In [99]:
resultado

16.6

In [100]:
n

5

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [101]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [102]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [103]:
#o pandas assume que estring sao do tipo object 
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [104]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [105]:
dataset = pd.DataFrame(dados)

In [106]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [107]:
dataset[['Ano','Valor']]

    Ano      Valor
0  2003   88078.64
1  1991  106161.94
2  1990   72832.16

### Criando um DataFrame a partir de um dicionário

In [108]:
#cada key representa uma coluna SEMPRE
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [109]:
dataset = pd.DataFrame(dados)

In [110]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [111]:
#O parametro index col seleciona o indice padrao do meu dataframe
dataset = pd.read_csv('https://raw.githubusercontent.com/xxGabrielNeryxx/ProjetosDataScience/main/Python_Pandas/Data/db.csv', sep=';', index_col=0)

In [112]:
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [113]:
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [114]:
type(dataset['Valor'])

pandas.core.series.Series

In [115]:
#como transformar uma Series e mum DF? usar 2 colchetes
#Como se eu tivesse selecionando mais de uma coluna
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [116]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [117]:
dataset[0:4] #seleciono da linha 0 a linha 3

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [118]:
#retorna uma series com o valor da linha especificado por mim
dataset.loc['Passat'] #seleciona as linhas com o rotulo(index) escolhido

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [119]:
#retorna um DF das linhas cujo valor de 'Nome' é 'Passat' e 'DS5'
dataset.loc[['Passat', 'DS5']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [120]:
#Assim como no numpy: array[a,b], a = informaçoes da linha e b = informaçoes da coluna
dataset.loc[['Passat', 'DS5'] , ['Motor','Valor']] #antes da virgula estao infos da linha e depois da virgula infos da coluna

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [121]:
#o codigo acima tambem pode ser feito dessa forma
(dataset.loc[['Passat', 'DS5']])[['Motor','Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [122]:
#seleciona todas as linha e as colunas Motor e Valor
dataset.loc[: ,['Motor', 'Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices numericos, ou seja, se baseia na posição das informações.

In [123]:
dataset.head(5)

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [124]:
#retorna uma series da informaçoes da 1a linha
dataset.iloc[1]

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [125]:
#retorna um dataFrame da informaçoes da 1a linha
dataset.iloc[[1]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [126]:
#pega da linha 1 a linha 3
dataset.iloc[1:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [127]:
#antes da virgula ha a posiçao das linhas que quero selecionar
#depois da virgula ha a posição das colunas que quero selecionar
dataset.iloc[1:4, [0,5,2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [128]:
dataset.iloc[[1,42,22], [0,5,2]]

                               Motor      Valor  Quilometragem
Nome
Passat                  Motor Diesel  106161.94         5712.0
Optima                 Motor 1.8 16v   86641.34            NaN
Lamborghini Obvious  Motor Diesel V6  133529.84        98079.0

# 5.3 Queries com DataFrames

In [129]:
#tra uma series com o indice do DF e com os valores da coluna selecionada
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [130]:
#Retorna uma seies booleana com True para 'Motor Diesel'
select =  dataset.Motor == 'Motor Diesel'

In [131]:
#retorna um DF somente com carros de motor a diesel
dataset[select].head(5)

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91

In [132]:
#Series booleana com True no Nome para Motor = 'Motor Diesel' e Zero_km = True
(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Length: 258, dtype: bool

In [133]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

### Utilizando o método query

In [134]:
#Cuidado: usar aspas duplas com o metodo query pois a string dentro dele deve ter aspas simples
#Cuidado: usar and e or no metodo query 
dataset.query("Motor == 'Motor Diesel' and Zero_km == True")

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

# 5.4 Iterando com DataFrames

In [135]:
#item assume os rotulos das colunas
for item in dataset:
  print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [136]:
dataset.iterrows()

In [137]:
#retorna uma lista de tuplas, na qual cada tupla contem o indice da linha e uma series com infos dessa linha
#('Jeta Variant', series_com_infos_de_Jeta_Variant)
#consigo fazer for e iterar facilmente

list(dataset.iterrows())[0]

('Jetta Variant',
 Motor                                              Motor 4.0 Turbo
 Ano                                                           2003
 Quilometragem                                              44410.0
 Zero_km                                                      False
 Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
 Valor                                                     88078.64
 Name: Jetta Variant, dtype: object)

In [138]:
for index, row in dataset.iterrows():
  if 2019 - row['Ano'] != 0: #tratamento de erros para divisão por 0
    dataset.loc[index , 'Km_media'] = row['Quilometragem']/ (2019 - row['Ano']) #crio a coluna Km_media com loc 
  else:
    dataset.loc[index, 'Km_media'] = 0

In [139]:
#Data set com as kilometagens medias
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

#iteritems() e iterrows()

In [140]:
#iteritems() itera pelas colunas, gerando uma lista de tuplas, nas quais o primeiro elemento é o nome da coluna e o segundo elemento é uma series com o conteudo
#da coluna
print(dataset.iteritems())
print('\n')
list(dataset.iteritems())

<generator object DataFrame.iteritems at 0x7f2eca233740>

[('Motor',
  Nome
  Jetta Variant                  Motor 4.0 Turbo
  Passat                            Motor Diesel
  Crossfox                       Motor Diesel V8
  DS5                            Motor 2.4 Turbo
  Aston Martin DB4               Motor 2.4 Turbo
                                   ...
  Phantom 2013                          Motor V8
  Cadillac Ciel concept                 Motor V8
  Classe GLK               Motor 5.0 V8 Bi-Turbo
  Aston Martin DB5                  Motor Diesel
  Macan                          Motor Diesel V6
  Name: Motor, Length: 258, dtype: object),
 ('Ano',
  Nome
  Jetta Variant            2003
  Passat                   1991
  Crossfox                 1990
  DS5                      2019
  Aston Martin DB4         2006
                           ...
  Phantom 2013             2014
  Cadillac Ciel concept    1991
  Classe GLK               2002
  Aston Martin DB5         1996
  Macan                    1992
  Name: Ano, Length: 258, dtype: int64),
 ('Quilometragem',
  Nome
  Jetta Variant            44410.0
  Passat                    5712.0
  Crossfox                 37123.0
  DS5                          NaN
  Aston Martin DB4         25757.0
                            ...
  Phantom 2013             27505.0
  Cadillac Ciel concept    29981.0
  Classe GLK               52637.0
  Aston Martin DB5          7685.0
  Macan                    50188.0
  Name: Quilometragem, Length: 258, dtype: float64),
 ('Zero_km',
  Nome
  Jetta Variant            False
  Passat                   False
  Crossfox                 False
  DS5                       True
  Aston Martin DB4         False
                           ...
  Phantom 2013             False
  Cadillac Ciel concept    False
  Classe GLK               False
  Aston Martin DB5         False
  Macan                    False
  Name: Zero_km, Length: 258, dtype: bool),
 ('Acessórios',
  Nome
  Jetta Variant            ['Rodas de liga', 'Travas elétricas', 'Piloto ...
  Passat                   ['Central multimídia', 'Teto panorâmico', 'Fre...
  Crossfox                 ['Piloto automático', 'Controle de estabilidad...
  DS5                      ['Travas elétricas', '4 X 4', 'Vidros elétrico...
  Aston Martin DB4         ['Rodas de liga', '4 X 4', 'Central multimídia...
                                                 ...
  Phantom 2013             ['Controle de estabilidade', 'Piloto automátic...
  Cadillac Ciel concept    ['Bancos de couro', 'Painel digital', 'Sensor ...
  Classe GLK               ['Rodas de liga', 'Controle de tração', 'Câmbi...
  Aston Martin DB5         ['Ar condicionado', '4 X 4', 'Câmbio automátic...
  Macan                    ['Central multimídia', 'Teto panorâmico', 'Vid...
  Name: Acessórios, Length: 258, dtype: object),
 ('Valor',
  Nome
  Jetta Variant             88078.64
  Passat                   106161.94
  Crossfox                  72832.16
  DS5                      124549.07
  Aston Martin DB4          92612.10
                             ...
  Phantom 2013              51759.58
  Cadillac Ciel concept     51667.06
  Classe GLK                68934.03
  Aston Martin DB5         122110.90
  Macan                     90381.47
  Name: Valor, Length: 258, dtype: float64),
 ('Km_media',
  Nome
  Jetta Variant            2775.625000
  Passat                    204.000000
  Crossfox                 1280.103448
  DS5                         0.000000
  Aston Martin DB4         1981.307692
                              ...
  Phantom 2013             5501.000000
  Cadillac Ciel concept    1070.750000
  Classe GLK               3096.294118
  Aston Martin DB5          334.130435
  Macan                    1858.814815
  Name: Km_media, Length: 258, dtype: float64)]

In [141]:
#itertuples() retorna tuplas com todas as informaçoes de uma linha
print(dataset.itertuples())
print('\n')
list(dataset.itertuples())[0]

<map object at 0x7f2eca1fb190>

Pandas(Index='Jetta Variant', Motor='Motor 4.0 Turbo', Ano=2003, Quilometragem=44410.0, Zero_km=False, Acessórios="['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']", Valor=88078.64, Km_media=2775.625)

# 5.5 Tratamento de dados

In [142]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

In [143]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [144]:
#isna() retorna uma series boolena com True para as linhas com
#'Quilometragem' nula
dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [145]:
#dataset com todos os valores de quilometragem nula
dataset[dataset.Quilometragem.isna()]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [146]:
#como substituir todos os valores NaN por algo ? usando o metodo 
#fillna(valor_quero_substituir, inplace= True)
dataset.fillna(0, inplace=True)

In [147]:
#Não ha mais elementos NaN no dataSet
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  258 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [148]:
dataset = pd.read_csv('https://raw.githubusercontent.com/xxGabrielNeryxx/ProjetosDataScience/main/Python_Pandas/Data/db.csv', sep=';')
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [149]:
#Posso eliminar/ Deletar as linhas com Nan com dropna()
dataset.dropna(subset=['Quilometragem'], inplace=True)

In [150]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           197 non-null    object
 1   Motor          197 non-null    object
 2   Ano            197 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        197 non-null    bool
 5   Acessórios     197 non-null    object
 6   Valor          197 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 11.0+ KB

In [151]:
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73