In [1]:
import pandas as pd

#Ex 1

In [2]:
data_json = '{"Rita": {"Idade": 24, "Peso": 62, "Altura": 1.65}, "Zeca": {"Idade": 32, "Peso": 80, "Altura": 1.82}}'

In [3]:
A = pd.read_json(
    path_or_buf=data_json,
    orient = 'index'
)
A

      Idade  Peso  Altura
Rita     24    62    1.65
Zeca     32    80    1.82

In [4]:
B = pd.read_json(
    path_or_buf=data_json,
    orient = 'columns'
)
B

         Rita   Zeca
Idade   24.00  32.00
Peso    62.00  80.00
Altura   1.65   1.82

#Ex 2

In [5]:
tabela2= pd.read_excel(
    io = 'bairros.xlsx',
    sheet_name = 'Residencial X Comercial',
    usecols = 'B:E',
    header=1,
    index_col = [0,1],
    names = ['Zonas', 'Bairros', 'Residencial', 'Comercial'],
    skiprows=17,
    nrows =17
)
tabela2

                       Residencial  Comercial
Zonas Bairros
Sul   Botafogo               14002       7972
      Catete                 15232       6259
      Copacabana             23318       9355
      Cosme Velho            10320       8177
      Flamengo               19636       7135
      Gávea                  13506       8211
      Humaitá                10603       5039
      Ipanema                15965       7293
      Jardim Botânico        17243       8095
      Lagoa                  24982       6584
      Laranjeiras            17307       7745
      Leblon                 13815       8125
      Leme                   15815       8587
      Rocinha                15110       9023
      São Conrado            20727       9587
      Urca                   22876       6607
      Vidigal                23470       5424

#Ex 3

In [6]:
data_json = '{"alunos": [{"Nome": "Rita", "Info": {"Idade": 24, "Medidas": {"Peso": 62, "Altura": 1.65}}}, {"Nome": "Zeca", "Info": {"Idade": 32, "Medidas": {"Peso": 80, "Altura": 1.82}}}]}'

In [7]:
dados = pd.read_json(path_or_buf=data_json)
dados = pd.json_normalize(data = dados.alunos, sep='_', max_level=1)
dados

   Nome  Info_Idade                  Info_Medidas
0  Rita          24  {'Peso': 62, 'Altura': 1.65}
1  Zeca          32  {'Peso': 80, 'Altura': 1.82}

# EX 4

In [8]:
data_string = "#-> Churrasqueira | Sauna | Mobiliado | Piscina <-#"
data_string=data_string.strip('#->< ')
data_string

'Churrasqueira | Sauna | Mobiliado | Piscina'

In [9]:
data_string=data_string.replace('|','')
data_string

'Churrasqueira  Sauna  Mobiliado  Piscina'

In [10]:
data_string = data_string.split()
data_string

['Churrasqueira', 'Sauna', 'Mobiliado', 'Piscina']

# EX 5

In [11]:
dados = {
    "alunos": ["Rita", "Lucas", "Zeca", "Ana"], 
    "idade": [10, 12, 11, 10], 
    "medidas_altura": [1.3, 1.5, 1.45, 1.28], 
    "medidas_peso": [42, 50, 45, 38]
}

df = pd.DataFrame(dados)
df

  alunos  idade  medidas_altura  medidas_peso
0   Rita     10            1.30            42
1  Lucas     12            1.50            50
2   Zeca     11            1.45            45
3    Ana     10            1.28            38

In [12]:
df.filter(like = 'medidas_')

   medidas_altura  medidas_peso
0            1.30            42
1            1.50            50
2            1.45            45
3            1.28            38

# Ex 6

In [13]:
df_A = pd.DataFrame({'A': [1, 2, 3], "B": [1, 4, 9]})
df_B = pd.DataFrame({'A': [4, 5, 6], "B": [16, 25, 36]})

In [14]:
df_A

   A  B
0  1  1
1  2  4
2  3  9

In [15]:
df_B

   A   B
0  4  16
1  5  25
2  6  36

In [16]:
df_A.append(df_B, ignore_index= True)

   A   B
0  1   1
1  2   4
2  3   9
3  4  16
4  5  25
5  6  36

In [17]:
pd.concat([df_A, df_B], ignore_index=True)

   A   B
0  1   1
1  2   4
2  3   9
3  4  16
4  5  25
5  6  36

# Ex 7

In [18]:
df_A = pd.DataFrame({'A': [1, 2, 3], 'B': [1, 4, 9]})
df_A

   A  B
0  1  1
1  2  4
2  3  9

In [19]:
df_B = pd.DataFrame({'B': [16, 25, 36], 'A': [4, 5, 6]})
df_B

    B  A
0  16  4
1  25  5
2  36  6

In [20]:
df_B.append(df_A, ignore_index=True)#DataFrame sem o parametro sort = True

    B  A
0  16  4
1  25  5
2  36  6
3   1  1
4   4  2
5   9  3

In [21]:
#O parametro sort em .append() ordena as colunas em ordem crecente ou  alfabetica, 
df_B.append(df_A, ignore_index=True, sort=True)

   A   B
0  4  16
1  5  25
2  6  36
3  1   1
4  2   4
5  3   9

#Ex 8

In [22]:
nomes = pd.Series(['Data Science', 'Big Data', 'DS', 'Machine Learning', 'ML'])
nomes

0        Data Science
1            Big Data
2                  DS
3    Machine Learning
4                  ML
dtype: object

In [23]:
#Todos os DS são substituidos por Data Science e todos os ML são substituidos por Machine Learning
nomes.replace(['DS', 'ML'], ['Data Science', 'Machine Learning'])

0        Data Science
1            Big Data
2        Data Science
3    Machine Learning
4    Machine Learning
dtype: object

In [24]:
pd.Series(nomes.replace(['DS', 'ML'], ['Data Science', 'Machine Learning']).unique())

0        Data Science
1            Big Data
2    Machine Learning
dtype: object

# Ex 9

In [25]:
df_1 = pd.DataFrame([2, 4, 6, 8], index=['A', 'B', 'C', 'D'], columns=['pares'])
df_1

   pares
A      2
B      4
C      6
D      8

In [26]:
df_2 = pd.DataFrame([1, 3, 5, 7], index=['C', 'D', 'E', 'F'], columns=['impares'])
df_2

   impares
C        1
D        3
E        5
F        7

In [27]:
pd.merge(
    left = df_1,
    right = df_2, 
    left_index= True,
    right_index = True,
    how = 'inner' #Com inner apenas as colunas em comum são combinadas
)

   pares  impares
C      6        1
D      8        3

In [28]:
pd.merge(
    left = df_1,
    right = df_2, 
    left_index= True,
    right_index = True,
    how = 'outer' #Com outer todas as colunas são combinadas, e as que n forem em comum ficam  NaN
)

   pares  impares
A    2.0      NaN
B    4.0      NaN
C    6.0      1.0
D    8.0      3.0
E    NaN      5.0
F    NaN      7.0

In [29]:
pd.merge(
    left = df_1,
    right = df_2, 
    left_index= True,
    right_index = True,
    how = 'left' #Com left apenas as colunas de do parametro left=df_1 são usadas, e as que n forem em comum ficam NaN
)

   pares  impares
A      2      NaN
B      4      NaN
C      6      1.0
D      8      3.0

In [30]:
pd.merge(
    left = df_1,
    right = df_2, 
    left_index= True,
    right_index = True,
    how = 'right' #Com right apenas as colunas de do parametro right=df_2  são usadas, e as que n forem em comum ficam  NaN
)

   pares  impares
C    6.0        1
D    8.0        3
E    NaN        5
F    NaN        7

# Ex 10

#

In [31]:
pessoas = pd.Series([
    'Nome: Mariana Sousa | End.: Rua Damasco, 1978 Japeri-RJ 26.473-790 | Tel.: (21) 99131-8473',
    'Nome: Aline Cardoso | End.: Rua Paschoal Marmirolli, 577 Sumaré-SP 13.171-700 | Tel.: (19) 8577-4777',
    'Nome: Vitór Fernandes | Tel.: (21) 5923-5723 | End.: Rua Bernardo Franco, 1520 São Gonçalo-RJ 24.470-190',
    'Nome: Victor Sousa | Tel.: (11) 98618-2626 | End.: Rua Santa Terezinha, 27 Suzano-SP 08.694-410',
    'Nome: Vitória Dias | Tel.: (19) 97632-5829 | End.: Rua 4 JA, 500 Rio Claro-SP 13.506-010',
    'Nome: Douglas Santos | Tel.: (11) 4890-8192 | End.: Rua Alcides Teodoro Santos, 1268 São Paulo-SP 05.762-010',
    'Nome: Kauan Pinto | Tel.: (14) 6752-6858 | End.: Rua Amélia Volta Laplechade, 1334 Marília-SP 17.511-801',
    'Nome: Miguel Silva | End.: Rua Severina Ferreira, 1408 João Pessoa-PB 58.034-160 | Tel.: (83) 7077-6476',
    'Nome: Luis Castro | Tel.: (31) 97711-4493 | End.: Rua São Bento, 969 Ribeirão das Neves-MG 33.930-290',
    'Nome: Thiago Almeida | Tel.: (18) 2031-3622 | End.: Rua Liberdade, 669 Araçatuba-SP 16.015-425'
])

pessoas.str.extractall('(\(\d{2}\)\s\d{4,5}-\d{4})')

                       0
  match
0 0      (21) 99131-8473
1 0       (19) 8577-4777
2 0       (21) 5923-5723
3 0      (11) 98618-2626
4 0      (19) 97632-5829
5 0       (11) 4890-8192
6 0       (14) 6752-6858
7 0       (83) 7077-6476
8 0      (31) 97711-4493
9 0       (18) 2031-3622

#Ex 11

In [32]:
df = pd.DataFrame(
    {
        'alunos': ['Juca', 'Zeca', 'Ana', 'Rita', 'Lia', 'Beto'],
        'notas': [8, 6.5, 10, 7, 6, 0]
    }
).set_index('alunos')
df

        notas
alunos
Juca      8.0
Zeca      6.5
Ana      10.0
Rita      7.0
Lia       6.0
Beto      0.0

In [33]:
classes = [0, 5.9, 6.9 ,10]
rotulos = ['Reprovado', 'Recuperação', 'Aprovado']
pd.cut(
    x = df.notas,
    bins = classes,
    include_lowest= True,
    labels = rotulos
)

alunos
Juca       Aprovado
Zeca    Recuperação
Ana        Aprovado
Rita       Aprovado
Lia     Recuperação
Beto      Reprovado
Name: notas, dtype: category
Categories (3, object): ['Reprovado' < 'Recuperação' < 'Aprovado']

# Ex 12

In [34]:
anuncios = pd.DataFrame([
    "Amplo apartamento com vista para o mar, piscina, sauna e 2 vagas de garagem. CEP 22790-735",
    "Ótima oportunidade no Leblon! Casa de condomínio com 800m² próximo a praia.",
    "Sala e quarto em Copacabana. Próximo ao metrô.",
    "Venha morar na melhor localização do Rio de Janeiro. Piscina, academia e toda estrutura de lazer.",
    "Sala comercial no Centro da cidade. 23456-021",
    "Venha conhecer o melhor de Ipanema. A duas quadras da praia. Conheça o apartamento mobiliado.",
    "Melhor localização da Barra. Condomínio com piscina, academia, espaço gourmet e muito mais.",
    "Vende-se terreno em Pedra de Guaratiba. Tratar direto com o proprietário.",
    "Apartamento de alto padrão na Lagoa. Vista pro mar e sol da manhã.",
    "Passo o ponto de loja no centro da cidade (Saara). Ligar para (21) 1234-5678 e falar com Juca."
], columns=['Descricao'])

anuncios

                                           Descricao
0  Amplo apartamento com vista para o mar, piscin...
1  Ótima oportunidade no Leblon! Casa de condomín...
2     Sala e quarto em Copacabana. Próximo ao metrô.
3  Venha morar na melhor localização do Rio de Ja...
4      Sala comercial no Centro da cidade. 23456-021
5  Venha conhecer o melhor de Ipanema. A duas qua...
6  Melhor localização da Barra. Condomínio com pi...
7  Vende-se terreno em Pedra de Guaratiba. Tratar...
8  Apartamento de alto padrão na Lagoa. Vista pro...
9  Passo o ponto de loja no centro da cidade (Saa...

In [35]:
# x assume o valor de cada valor de anuncios.Descricao
anuncios['Descricao'].apply(lambda x: 'piscina' in x.lower())

0     True
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
9    False
Name: Descricao, dtype: bool

# Ex 13

In [36]:
df = pd.DataFrame(
    {
        'alunos': ['Juca', 'Zeca', 'Ana', 'Rita', 'Lia', 'Beto', 'Tina', 'Lucas'],
        'notas': [8, 6.5, 10, 7, 6, 0, 5, 5.5],
        'resultado': ['AP', 'RC', 'AP', 'AP', 'RC', 'RP', 'RP', 'RP']
    }
).set_index('alunos')
df

        notas resultado
alunos
Juca      8.0        AP
Zeca      6.5        RC
Ana      10.0        AP
Rita      7.0        AP
Lia       6.0        RC
Beto      0.0        RP
Tina      5.0        RP
Lucas     5.5        RP

In [37]:
df.agg(['mean', 'std'])

         notas
mean  6.000000
std   2.890872

In [38]:
df.groupby(by='resultado').agg(['mean', 'std'])

              notas
               mean       std
resultado
AP         8.333333  1.527525
RC         6.250000  0.353553
RP         3.500000  3.041381

In [39]:
df.value_counts(subset='resultado', normalize=True).to_frame(name='percentual (%)')*100

           percentual (%)
resultado
AP                   37.5
RP                   37.5
RC                   25.0

# Ex 14

In [40]:
df = pd.DataFrame.from_dict({'Zeca': [25,  176], 'Ana': [32, 152]}, columns=['Idade', 'Altura'], orient='index')
df

      Idade  Altura
Zeca     25     176
Ana      32     152

In [41]:
df.stack().unstack(0)

        Zeca  Ana
Idade     25   32
Altura   176  152

# Ex 15

In [42]:
dados = {
    ('Moema', 'Casa'): {
        ('Padrão', 'Venda'): 35, ('Padrão', 'Locação'): 56, 
        ('Alto padrão', 'Venda'): 5, ('Alto padrão', 'Locação'): 12
    }, 
    ('Moema', 'Apartamento'): {
        ('Padrão', 'Venda'): 58, ('Padrão', 'Locação'): 42, 
        ('Alto padrão', 'Venda'): 6, ('Alto padrão', 'Locação'): 5
    }, 
    ('Jardins', 'Casa'): {
        ('Padrão', 'Venda'): 34, ('Padrão', 'Locação'): 48, 
        ('Alto padrão', 'Venda'): 28, ('Alto padrão', 'Locação'): 15
    }, 
    ('Jardins', 'Apartamento'): {
        ('Padrão', 'Venda'): 18, ('Padrão', 'Locação'): 35, 
        ('Alto padrão', 'Venda'): 32, ('Alto padrão', 'Locação'): 25
    }
}

df = pd.DataFrame(dados)
df

                    Moema             Jardins
                     Casa Apartamento    Casa Apartamento
Padrão      Venda      35          58      34          18
            Locação    56          42      48          35
Alto padrão Venda       5           6      28          32
            Locação    12           5      15          25

In [43]:
df.stack(0).unstack(1)

                    Apartamento          Casa
                        Locação Venda Locação Venda
Alto padrão Jardins          25    32      15    28
            Moema             5     6      12     5
Padrão      Jardins          35    18      48    34
            Moema            42    58      56    35

# Ex 16

In [75]:
dados = {
    'acessorios': [
        ['4 X 4', 'Câmera de estacionamento', 'Controle de tração', 'Câmbio automático'],
        ['Câmera de estacionamento', 'Câmbio Automático', 'Rodas de liga', 'Freios ABS'],
        ['Central multimídia', 'Bancos de couro', 'Rodas de liga', 'Câmera de estacionamento'],
        ['Bancos de couro', 'Freios ABS', 'Rodas de liga', 'Câmbio automático'],
        ['Central multimídia', 'ABS', 'Câmbio automático', 'Piloto automático'],
        ['Câmbio automático', 'Controle de tração', 'Piloto automático', 'Central multimídia'],
        ['4 X 4', 'Piloto automático', 'Central multimídia', 'Bancos de couro']        
    ]
}
df = pd.DataFrame(dados)
df

                                          acessorios
0  [4 X 4, Câmera de estacionamento, Controle de ...
1  [Câmera de estacionamento, Câmbio Automático, ...
2  [Central multimídia, Bancos de couro, Rodas de...
3  [Bancos de couro, Freios ABS, Rodas de liga, C...
4  [Central multimídia, ABS, Câmbio automático, P...
5  [Câmbio automático, Controle de tração, Piloto...
6  [4 X 4, Piloto automático, Central multimídia,...

In [86]:
acessorios = df['acessorios'].explode().str.lower()
n_acessorios = acessorios.where(
    cond = acessorios != 'abs', 
    other = 'freios abs'                      
).value_counts()
n_acessorios = n_acessorios.to_frame().rename_axis('Acessórios').rename(columns={'acessorios':'Frequencias'})
n_acessorios

                          Frequencias
Acessórios
câmbio automático                   5
central multimídia                  4
câmera de estacionamento            3
rodas de liga                       3
freios abs                          3
bancos de couro                     3
piloto automático                   3
4 x 4                               2
controle de tração                  2

# Ex 17

In [87]:
n_acessorios.style.bar(subset='Frequencias', vmin=0, color='lightgreen') \
        .applymap(lambda x: f"color: {'red' if x > 3 else 'black'}", subset='Frequencias') \
        .applymap(lambda x: f"font-weight: {'900' if x > 3 else 'normal'}", subset='Frequencias') #Posso mudar o tamanho da fonte com "font-weight: 'valor_numerico'"