In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv')
dados.head(5)

#Interpretando os dados:
#home => 1 indica que a pessoa acessou a pagina inicial do site
#how_it_works => 1 indica que a pessoa acessou a pagina how_it_works do site
#contact => 1 indica que a pessoa acessou a pagina contact do site
#bought => 1 indica que a pessoa comprou o produto

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
#As 3 primeiras colunas representam o x,ou seja, os dados
#A ultima coluna representa o y, ou seja, os rotulos
x = dados[['home','how_it_works','contact']]
y = dados.bought

In [ ]:
dados.rename(
              columns = {
                          'home':'principal', 
                          'how_it_works':'como_funciona', 
                          'contact':'contato',
                          'bought':'comprado'
                        }, 
              inplace=True
            )

In [ ]:
x= dados[['principal','como_funciona','contato']]
y= dados['comprado']

In [ ]:
dados.shape

(99, 4)

In [ ]:
#Vou separa 75% da minha amostra para treino e 25% para teste

treino_x = x[:75] #75%
treino_y = y[:75] #75%
teste_x = x[75:] #25%
teste_y = y[75:] #25%

In [ ]:
print(f"Treinaremos com {treino_x.shape[0]} elementos e testaremos com {teste_x.shape[0]} elementos")

Treinaremos com 75 elementos e testaremos com 24 elementos

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes)*100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

In [ ]:
from sklearn.model_selection import train_test_split
#Com train_test_split() retorno respectivamente treino_x, teste_x, treino_y, teste_y
#Especifico quantos percento da amostra vou destinar para treino com test_size
#x e y são respectivamente as caracteristicas e os rotulos'
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, test_size =0.25)

In [ ]:
print("Tamanho de treino_x => %d \n" %treino_x.shape[0])
treino_x

Tamanho de treino_x => 74

    principal  como_funciona  contato
87          0              0        1
51          1              1        0
80          0              0        1
44          0              0        1
57          1              1        0
..        ...            ...      ...
37          0              0        1
3           1              1        0
53          1              1        0
60          1              0        1
7           1              0        1

[74 rows x 3 columns]

In [ ]:
print("Tamanho de treino_y => %d \n" %treino_y.shape[0])
treino_y

Tamanho de treino_y => 74

87    0
51    0
80    0
44    0
57    0
     ..
37    0
3     0
53    0
60    1
7     1
Name: comprado, Length: 74, dtype: int64

In [ ]:
print("Tamanho de teste_x => %d \n" %teste_x.shape[0])
teste_x

Tamanho de teste_x => 25

    principal  como_funciona  contato
48          1              1        0
20          0              0        1
10          1              1        0
18          0              0        1
89          1              0        1
28          0              1        0
94          0              0        1
79          1              1        0
68          1              0        1
5           1              0        1
30          0              1        0
32          0              0        1
47          1              0        1
73          0              0        1
93          0              0        1
19          0              1        0
36          1              0        1
59          0              0        1
77          0              1        0
92          1              1        0
39          1              0        1
61          0              1        0
34          1              0        1
22          0              0        1
40          0              1        0

In [ ]:
print("Tamanho de teste_y => %d \n" %teste_y.shape[0])
teste_y

Tamanho de teste_y => 25

48    0
20    0
10    1
18    0
89    1
28    0
94    0
79    1
68    1
5     1
30    0
32    0
47    1
73    0
93    0
19    0
36    1
59    0
77    0
92    0
39    1
61    0
34    1
22    0
40    0
Name: comprado, dtype: int64

#Usando a biblioteca para separar treino e teste

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

#train_test_split() sempre escolhe amostras aleatórias e isso gera resultados diferentes
#Para resolver isso usar uma SEED
SEED = 20 #Define a ordem dos numeros aleatórios a serem escolhidos


treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, random_state=SEED,test_size =0.25)

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes)*100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 96.00%

In [ ]:
#A proporção de pessoas que não compraram para que compraram (47/27) é de 1,8 que não compraram para 1 que comprou
#A proporção para treino é 1,8:1 (1,8 = n comprou e 1 = comprou)

treino_y.value_counts()

0    47
1    27
Name: comprado, dtype: int64

In [ ]:
#A proporção de pessoas que não compraram para que compraram (19/6) é de 3 que não compraram para 1 que comprou
#A proporção para teste é de 3:1 (3 = n comprou e 1 = comprou)
teste_y.value_counts()

0    19
1     6
Name: comprado, dtype: int64

In [ ]:
#Percebece que a proporção em treino_y e teste_y é diferente, logo gerará alterações no resultado
#Ex: se minha a mostra de teste só tem pessoas que não compraram então o algoritmo só retornará 0 (não comprado), pois ele não aprendeu
#O parametro stratify faz essa proporção se equilibrar automaticamente

from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split


SEED = 20


treino_x, teste_x, treino_y, teste_y = train_test_split(x,
                                                        y,
                                                        random_state=SEED,
                                                        test_size =0.25,
                                                        stratify = y #Pesso para fazer a proporção em y
                                                        )

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes)*100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 96.00%

In [ ]:
#A proporção é 1,96:1 para treino
treino_y.value_counts()

0    49
1    25
Name: comprado, dtype: int64

In [ ]:
#A proporção é 2,125:1 para teste
teste_y.value_counts()

#as proporçoes estao mais proximas, logo menos erros

0    17
1     8
Name: comprado, dtype: int64