In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdadeadesdasesda'))
s

0     a
1     s
2     d
3     a
4     d
5     e
6     a
7     d
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [3]:
#Retorna uma lista com os elementos da coluna sem duplicatas
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [5]:
#Retorna uma Series com os elementos da coluna e quantas vezes se repetem
s.value_counts()

a    5
d    5
s    4
e    3
dtype: int64

In [8]:
dados = pd.read_csv('aluguel.csv', sep = ';')

In [9]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condom√≠nio', 'Casa de Vila',
       'Quitinete'], dtype=object)