In [85]:
import pandas as pd

# Series

In [86]:
data = [1,2,3,4,5]

In [87]:
s = pd.Series(data)

In [88]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [89]:
#criando uma lista com os indices de cada linha
indice = ['Linha' + str(i) for i in range(5)]
indice

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [90]:
#Coloquei rotulo em cada linha
s = pd.Series(data, index=indice)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [91]:
#Criando series com dicionarios
data = {'Linha'+ str(i) : i+1 for i in range(5)}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [92]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [93]:
#Operçoes com Series
s1 = s + 1
s1

Linha0    2
Linha1    3
Linha2    4
Linha3    5
Linha4    6
dtype: int64

In [94]:
s2 = s + s1
s2

Linha0     3
Linha1     5
Linha2     7
Linha3     9
Linha4    11
dtype: int64

# DataFrame

In [95]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [96]:
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [97]:
indices = ['Linha'+str(i) for i in range(3)]
indices

['Linha0', 'Linha1', 'Linha2']

In [98]:
colunas = ['coluna'+str(i) for i in range(3)]
colunas

['coluna0', 'coluna1', 'coluna2']

In [99]:
pd.DataFrame(data, index = indices, columns=colunas)

        coluna0  coluna1  coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [100]:
#criando DataFrames a partir de dicionarios
data = data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [101]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [102]:
#Mudando valores de um DF com condiçoes
df1 = df2.copy()
df1[df1>0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [103]:
df2[df2>0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [104]:
df3 = df2.copy()
df3[df3=='B'] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [110]:
#Concatenação de DataDrames com base nas colunas (axix = 0 (defaut))
df4 = pd.concat([df1, df2, df3], axis = 0)
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [112]:
#Concatenação de DataDrames com base nas linhas (axix = 1)
df5 = pd.concat([df1, df2, df3], axis = 1)
df5

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C